.features-section {
  padding: 60px 0;

  .title {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-txt-color);
    margin-bottom: 10px;
  }

  .description {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-txt-color);
  }

  .list-item {
    width: 100%;

    &::before {
      content: '';
      display: block;
      height: 120px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: var(--secondary-bg-color);
      border-radius: 4px;
      margin-bottom: 30px;
    }
    &:last-child > p {
      margin-bottom: 0;
    }
  }
}

.icon-antenna {
  &::before {
    background-image: url(../images/antenna.svg);
  }
}

.icon-clock {
  &::before {
    background-image: url(../images/clock.svg);
  }
}

.icon-diagram {
  &::before {
    background-image: url(../images/diagram.svg);
  }
}

.icon-astronaut {
  &::before {
    background-image: url(../images/astronaut.svg);
  }
}

@media screen and (min-width: 768px) {
  .features-section {
    .title {
      text-align: left;
    }
    .description {
      margin-bottom: 0;
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }

    .list-item {
      width: 354px;
      margin: 15px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .features-section {
    padding: 94px 0;

    .list {
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .list-item {
      width: calc((100%-90px) / 4);

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
