.header {
  position: relative;
  height: 60px;
  border-bottom: 1px solid var(--header-line-color);
  background-color: var(--primary-bg-color);

  .contacts {
    display: none;
  }
}

.site-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;

    .container {
      display: flex;
      align-items: center;
    }

    .contacts {
      display: flex;
      flex-direction: column;

      .list-item {
        display: inline-flex;
      }

      .list-item + .list-item {
        margin-top: 10px;
      }

      .link {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.167;
        letter-spacing: 0.02em;
        color: var(--secondary-txt-color);
        text-decoration: none;

        &:active {
          color: var(--accent-color);
        }
      }
    }

    .nav-wrapper {
      display: flex;
      align-items: center;
    }

    .site-nav {
      display: flex;

      .list-item {
        &:not(:last-child) {
          margin-right: 50px;
        }
      }
      .link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-txt-color);
        text-decoration: none;

        &.current {
          color: var(--accent-color);
        }
      }
    }

    .header-contact {
      display: flex;
      align-items: center;
    }

    .contacts.list {
      margin-left: auto;
    }

    .contacts-icon {
      margin-right: 8px;
      align-self: center;
      fill: currentColor;
    }
  }
  .email-icon {
    width: 14px;
    height: 10px;
  }
  .tel-icon {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    box-sizing: content-box;
    position: fixed;
    z-index: 99;
    width: 100%;
    min-height: 80px;
    top: 0;

    .contacts {
      margin-bottom: 0;
      flex-direction: row;
      align-items: center;

      .list-item + .list-item {
        margin-top: 0;
        margin-left: 50px;
      }

      .link {
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
        line-height: 1.14;
        transition: color var(--transition-duration)
          var(--transition-timing-function);

        &:hover,
        &:focus {
          color: var(--accent-color);
        }
      }
    }
  }

  .site-nav {
    .link {
      transition: color var(--transition-duration)
        var(--transition-timing-function);

      &:hover,
      &:focus,
      &:active {
        color: var(--accent-color);
      }
    }
  }

  .contacts-icon {
    margin-right: 10px;
  }

  .email-icon {
    width: 16px;
    height: 12px;
  }
  .tel-icon {
    width: 10px;
    height: 16px;
  }
}
