.logo {
  display: block;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--primary-logo-color);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
    line-height: 1.167;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    font-size: 26px;
  }
}
